.banner{
background-image: url('img-cinéma.webp');
background-size: cover;
background-position: center;
height: 400px;
width: 100%;
color: white;
}
.block-titre{
text-align: center;
padding-top: 15%;
}
